*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --black: black;
    --white: white;
    --bg-image: url('https://i.postimg.cc/zBqkDfsj/world-wide-web-7109276-640.webp');
    --transparentBlack1: rgba(0, 0, 0, 0.48);
    --transparentBlack2: rgba(0, 0, 0, 0.593);
    --transparentWhite: rgba(255, 255, 255, 0.228);
    --logoBg: rgba(21, 45, 227, 0.816);
    --logoGradient: rgba(175, 196, 220, 0.496);
    --babyBlue: rgba(0, 132, 255, 0.421);
    --darkBlue:rgb(3, 3, 74);
    --NavColor: rgb(0, 110, 255);
}

body{
    /* background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; */
}

#topHomePage{
    background-image: url('https://i.postimg.cc/Jn2KthTw/Background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

#aboutPage{
    min-height: 100vh;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}



/* logo */
#logo{
    background: radial-gradient(circle, var(--logoBg) 0%,  var(--logoGradient) 100%);
    color: var(--babyBlue);
    border-radius: 15px;
    padding: 4px;
    margin: 5px;
}

#logo:hover{
    transition: 1s;
    transform: scaleX(90%);
    cursor: pointer;
}

/* logo border bottom */
#LogoLinks{
    border-bottom: 1px solid var(--logoGradient);
    position: fixed;
    width: 100%;
    background-color: var(--transparentBlack1);
}


/* links */
.icon-link{
    background: radial-gradient(circle, var(--logoBg) 0%,  var(--logoGradient) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 50%;
}

.icon-link:hover{
    transition: 0.5s ease-in-out;
    transform: rotateY(360deg);
}


@keyframes popup {
    0% {
        transform: translateY(100px);
    }
    25% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(100px);
    }
    75% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(100px);
    }
}


#greeting{
    transform: translateY(100px);
    color: var(--white);
    position: relative;
    animation-name: popup;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    transition: 1s ease-in-out;
}


/* Nav features */
.nav-container{
    transform: translateY(200px);
    position: fixed;
}

.nav-icon{
    background-color: var(--NavColor);
    height: 40px;
    text-align: end;
    padding: 10px;
    transform: translateX(-98%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


#HomePage:hover{
    transition: 0.5s ease-in-out;
    transform: translateX(-60%);
}

#AboutPage{
    margin-top: 40px;
}

#AboutPage:hover{
    transition: 0.5s ease-in-out;
    transform: translateX(-60%);
}

#ContactPage{
    margin-top: 40px;
}

#ContactPage:hover{
    transition: 0.5s ease-in-out;
    transform: translateX(-60%);
}

#ProjectsPage{
    margin-top: 40px;
}

#ProjectsPage:hover{
    transition: 0.5s ease-in-out;
    transform: translateX(-60%);
}