*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

body{

}

:root{
    --black: black;
    --white: white;
    --bg-image: url('https://i.postimg.cc/L8WtBY59/background-4852316-640.jpg');
    --transparentBlack1: rgba(0, 0, 0, 0.48);
    --transparentBlack2: rgba(0, 0, 0, 0.593);
    --transparentWhite: rgba(255, 255, 255, 0.147);
    --logoBg: rgba(21, 45, 227, 0.816);
    --logoGradient: rgba(170, 205, 246, 0.496);
    --babyBlue: rgba(0, 132, 255, 0.421);
    --darkBlue:rgb(3, 3, 74);
    --NavColor: rgb(0, 110, 255);
    --BnW:radial-gradient(circle, white  0%,  black 100%);
    --testimonials_bgImg: url('https://i.postimg.cc/Tw1qrVq3/istockphoto-1273852653-612x612.jpg');
    --ProjectsBgImg: url('https://i.postimg.cc/FFG4N1mZ/holes-7895625-640.jpg');
    --noColor: rgba(255, 255, 255, 0);
}

#topHomePage{
    min-height: 100vh;
    position: relative;
    width: 100%;    
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    image-resolution: 9000px;
}

#aboutPage{
    min-height: 100vh;
    background-color: var(--black);
}

/* links */
.icon-link{
    background: radial-gradient(circle, var(--logoBg) 0%,  var(--logoGradient) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 50%;
}

.icon-link:hover{
    transition: 0.5s ease-in-out;
    transform: rotateY(360deg);
}

.icons{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.icon-link-side{
    background: radial-gradient(circle, var(--logoBg) 0%,  var(--logoGradient) 100%);
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    padding: 6px;
    height: 35px;
    list-style: none;
}

.icon-link-side:hover{
    transition: 1s ease-in-out;
    transform: rotateY(360deg);
    background: radial-gradient(circle, var(--logoBg) 10%,  var(--darkBlue) 100%, var(--logoBg) 30%);;
}
/* end of links */


/* start ofHome page */
#greeting{
    transform: translateY(90px);
    color: var(--white);
    position: relative;
    transition: 1s ease-in-out;
}

.list-lst{
    margin-right: 10px;
    list-style: none;
}

.img-img{
   background-image: url('https://i.postimg.cc/26wyDL97/20231009-135619.jpg');
   height: 400px;
   width: 400px;
   border-radius: 50%;
   border: 5px solid var(--logoGradient);
}

.btn-about{
    width: 150px;
    font-size: 20px;
    border-radius: 30px;
    background: radial-gradient(circle, var(--logoBg) 50%,  var(--logoGradient) 100%);
    margin-right: 70px;
}

.btn-about:hover{
    color: var(--white);
    background: radial-gradient(circle, var(--logoBg) 10%,  var(--darkBlue) 100%, var(--logoBg) 30%);
}
/* End of Home page */


/* Nav features */
.nav-container{
    transform: translateY(-275px);
    position: fixed;
    perspective: 1000px;
}

.nav-icon{
    background: radial-gradient(circle, var(--logoBg) 0%,  var(--logoGradient) 100%);
    height: 90px;
    width: 100%;
    text-align: end;
    padding: 10px;
    transform: translateX(-98%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#iconOne, #iconTwo, #iconThree, #iconFour{
    transform: translateY(20px);
    padding-left: 15px;
    margin-left: 30px;
}


#HomePage:hover{
    transition: 0.2s ease-in-out;
    transform: translateX(-55%);
}

#AboutPage{
    margin-top: 10px;
}

#AboutPage:hover{
    transition: 0.2s ease-in-out;
    transform: translateX(-60%);
}

#ContactPage{
    margin-top: 10px;
}

#ContactPage:hover{
    transition: 0.2s ease-in-out;
    transform: translateX(-60%);
}

#ProjectsPage{
    margin-top: 10px;
}

#ProjectsPage:hover{
    transition: 0.2s ease-in-out;
    transform: translateX(-60%);
}
/* End of Nav Features */


/* start of about page */

.box{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    background: radial-gradient(circle, var(--logoGradient) 50%,  var(--transparentWhite) 100%);
}

.icon-img{
    height: 60px;
    margin: 20px;
}

.icon-img:hover{
    transition: 1s;
    transform: rotateZ(360deg);
}

.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #ff9e0b;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  

  /* testimonials section */

  #testimonials{
    background-image: var(--testimonials_bgImg);
    /* background-repeat: no-repeat;
    background-size: cover; */
  }

  #testimonialOne, #testimonialFour, #testimonialSeven{
    padding: 50px;
    z-index: 1;
    box-shadow: 2px 2px 10px 10px rgba(41, 40, 40, 0.514);
  }

  #testimonialTwo,#testimonialFive,#testimonialEight{
    padding: 50px;
    transform: translateX(-170px);
  }

  #testimonialTwo:hover{
    transition: 0.8s;
    transform: translateX(10px);
    box-shadow: 10px 5px 10px 10px rgba(41, 40, 40, 0.514);
  }
  
  #testimonialFive:hover{
    transition: 0.8s;
    transform: translateX(10px);
  }

  #testimonialEight:hover{
    transition: 0.8s;
    transform: translateX(10px);
  }

  /* , #testimonialTwo, #testimonialThree, #testimonialFour, #testimonialFive, #testimonialSix, #testimonialSeven, #testimonialEight, #testimonialNine */

  .intro{
    display: flex;
    justify-content: center;
  }

  .h2-txt{
    color: var(--white);
    font-size: 60px;
  }

  #IconSocialOne, #IconSocialTwo, #IconSocialThree, #IconSocialFour{
    background-color: var(--white);
    height: 30px;
    padding: 20px;
    border-radius: 50%;
    margin: 5px;
  }

 
  #IconSocialOne:hover{
    background: var(--BnW);
    transform: rotateY(360deg);
    transition: 1s;
  }

  #IconSocialTwo:hover{
    background: var(--BnW);
    transform: rotateY(360deg);
    transition: 1s;
  }

  #IconSocialThree:hover{
    background: var(--BnW);
    transform: rotateY(360deg);
    transition: 1s;
  }

  #IconSocialFour:hover{
    background: var(--BnW);
    transform: rotateY(360deg);
    transition: 1s;
  }

  .create-testimonial{
    width: 275px;
    border-radius: 30px;
  }
  .create-testimonial:hover{
    background: var(--BnW);
  }

  #addIconSocialOne, #addIconSocialTwo, #addIconSocialThree, #addIconSocialFour{
    background-color: var(--white);
    height: 10px;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
  }

  #addIconSocialOne:hover{
    background: var(--BnW);
    transform: rotateY(360deg);
    transition: 1s;
  }
  #addIconSocialTwo:hover{
    background: var(--BnW);
    transform: rotateY(360deg);
    transition: 1s;
  }
  #addIconSocialThree:hover{
    background: var(--BnW);
    transform: rotateY(360deg);
    transition: 1s;
  }
  #addIconSocialFour:hover{
    background: var(--BnW);
    transform: rotateY(360deg);
    transition: 1s;
  }

  .btn-post{
    margin-top: 10px;
    width: 160px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--white);
    border: none;
    color: var(--black);
  }

  .btn-post:hover{
    background: var(--BnW);
  }
  /* end of testimonial page */

  /* Start of projects page */
  #myProjects{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-image: var(--ProjectsBgImg);
    background-size: cover;
    background-repeat: no-repeat;
  }


  .project-img-logo{
    width: 50px;
    display: flex;
    justify-content: center;
  }

  .pro-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .project-container{
    background-color: var(--transparentWhite);
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
  }

  .image{
    display: flex;
    justify-content: center;
  }

  .projects-sc{
    background-color: var(--black);
    height: 300px;
    width: 350px;
    border-radius: 20px;
  }

  .btn-view{
    width: 100px;
    height: 45px;
    margin: 20px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--black);
  }

  .btn-view:hover{
    transition: 0.9s ease-in-out;
    color: var(--black);
    text-shadow: 6px 5px var(--transparentBlack2);
    font-size: 17px;
    box-shadow: 10px 0px 10px 10px rgba(41, 40, 40, 0.514);
    transform: rotateY(20deg);
    background: radial-gradient(circle, var(--logoGradient) 50%,  var(--transparentWhite) 100%);
  }
  /* End of projects page */


  /* Start of contact page */
  /* End of contact page */
