*{
    margin: 0;
    padding: 0;
}

:root{
    --black: black;
    --bg-image: url('https://i.postimg.cc/zBqkDfsj/world-wide-web-7109276-640.webp');
    --transparentBlack1: rgba(124, 124, 124, 0.124);
    --transparentBlack2: rgba(0, 0, 0, 0.593);
    --transparentWhite: rgba(255, 255, 255, 0.228);
    --logoBg: rgba(21, 45, 227, 0.816);
    --logoGradient: rgba(175, 196, 220, 0.496);
    --babyBlue: rgba(0, 132, 255, 0.421);
    --darkBlue:rgb(3, 3, 74);
}

body{
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* logo */
#logo{
    /* background-color: var(--transparentWhite); */
    background: radial-gradient(circle, var(--logoBg) 0%,  var(--logoGradient) 100%);
    color: var(--babyBlue);
    border-radius: 15px;
    padding: 4px;
    margin: 5px;
}

#logo:hover{
    transition: 1s;
    transform: scaleX(90%);
    cursor: pointer;
}

/* logo border bottom */
#LogoLinks{
    border-bottom: 1px solid var(--logoGradient);
}


/* links */
.icon-link{
    background: radial-gradient(circle, var(--logoBg) 0%,  var(--logoGradient) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 50%;
}

.icon-link:hover{
    transition: 0.5s ease-in-out;
    transform: rotateY(360deg);
}



/* Nav features */
.nav-container{
    transform: translateY(200px);
}

.nav-icon{
    margin-top: 40px;
    background-color: var(--babyBlue);
    height: 40px;
    text-align: end;
    padding: 10px;
    transform: translateX(-98%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#HomePage:hover{
    transition: 0.5s ease-in-out;
    transform: translateX(-93%);
}

#AboutPage:hover{
    transition: 0.5s ease-in-out;
    transform: translateX(-93%);
}

#ContactPage:hover{
    transition: 0.5s ease-in-out;
    transform: translateX(-93%);
}

#ProjectsPage:hover{
    transition: 0.5s ease-in-out;
    transform: translateX(-93%);
}